@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
@theme {
  --breakpoint-md: 53.75rem;
  --breakpoint-lg: 90rem;
  --breakpoint-xl: 120rem;
}
body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
:root {
  --background: #f8f4f4;
  --foreground: #f8f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, Arial, Helvetica, sans-serif;
}



.rectangle-blur .highlight {
  color: #cbec5e;
}
.ta5 {
  background-image: url("../public/card.png");
  border-radius: 22px;
  background-size: cover; /* scales the image to cover the container */
  background-repeat: no-repeat;
}
